.topnav-pms {
    /*  overflow: hidden;*/
    background-color: #ffffff;
    /*    height: 50px;*/
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    box-shadow: 0 0.313rem 0.75rem rgba(7,9,25,.05), 0 0.126rem 0.15rem rgba(7,9,25,.03);
}

.topnav-pms a {
    float: left;
    display: block;
    color: #002f76;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    font-family: arial;
    font-weight: 800;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu-shirnk .active {
    background-color: #003481;
    color: #ffffff;
}

.topnav-pms .icon {
    display: none;
}

.dropdown {
    float: left;
    /*  overflow: hidden;*/
}

.dropdown .dropbtn {
    float: left;
    display: block;
    color: #002f76;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    font-family: arial;
    font-weight: 800;
    font-family: 'Titillium Web', sans;
    background: transparent;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; top: 50px !important;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav-pms a:hover, .dropdown:hover .dropbtn {
    background-color: #002f76;
    color: white !important;
}

.topnav-pms a:hover .fa-circle{
    color: white !important;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block !important; overflow: visible;
}

@media screen and (max-width: 900px) {
    .topnav-pms a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .topnav-pms a.icon {
        float: right;
        display: block;  right: 0;
    }

    .topnav-pms a {display: none;}
}


.dropdown-content{
    top: 50px !important;
}

@media screen and (max-width: 900px) {
    .topnav-pms.responsive {position: relative;}
    .topnav-pms.responsive .icon {
        position: fixed;
        right: 0;
        top: 0; color: white;
    }
    .topnav-pms.responsive a {
        float: none;
        display: block;
        text-align: right;
    }
    .topnav-pms.responsive .dropdown {float: none;}
    .topnav-pms.responsive .dropdown-content {position: absolute; width: 100%;}
    .topnav-pms.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: right;
    }

    .setting-section{
        display: none;
    }

    .app-logo{
        margin: 0 auto;
        display: block;
        position: fixed;
        z-index: 9999;
        background: white;
        margin-left: 64px;
    }
}


/* searchbar */

.search-container {
    float: right;
}
.topnav-pms .nav-rightside {
    float:none;
}
.topnav-pms input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 6px 0px 0 6px;
}

.topnav-pms .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 0 6px 6px 0px;
}

.topnav-pms .search-container button:hover {
    background: #ccc;
}

.menu-list{
    float: none;
}

@media screen and (max-width: 900px) {
    .topnav-pms .search-container {
        float: none;
    }

    .topnav-pms input[type=text], .topnav-pms .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav-pms input[type=text] {
        border: 1px solid #ccc;
    }

    .hidden-sm{
        display: none;
    }

    .menu-list{
        margin-top: 50px;
    }
}

.circle .fa-circle{
    font-size: 10px;
}

.fa-profile{
    color: white; font-size: 10px;
}

.setting-section{
    float: right;        margin-left: 20px;
}

.fa-circle{
    font-size: 7px !important;
}


/* side navigation */
.sidebar-pms {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar-pms a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar-pms a:hover {
    color: #f1f1f1;
}

.sidebar-pms .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #403d3c;
    color: white;
    /* padding: 10px 15px; */
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

@media screen and (max-height: 900px) {
    .sidebar-pms {padding-top: 0px;}
    .sidebar-pms a {font-size: 18px;}
}


/* Sidebar*/
@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
    font-size: 2em;
}
.main-menu-shirnk .fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 51px;
    text-align: center;
    vertical-align: middle;
    font-size:20px;
}


.main-menu-shirnk:hover,nav.main-menu-shirnk.expanded {
    width:250px;
    overflow:visible;
}
/*.main-menu-shirnk:hover,nav.main-menu-shirnk.expanded a{
  margin-top: 10px;
}*/

.main-menu-shirnk {
    background: #f4f4f7;
    border-right: 1px solid #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 60px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1,1);
    z-index: 1000;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    height: 100%;
    z-index: 11;
    box-shadow: 20px 0 20px -20px #d3d7e9;
}

.main-menu-shirnk>ul {
    margin:0px 0;
}

.main-menu-shirnk li {
    position:relative;
    display:block;
    width:250px;    /*padding: 8px 0px;*/
}

.main-menu-shirnk li>a {
    position:relative;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color: #002f76;
    font-family: arial;
    font-size: 14px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear;  font-weight: 800;


}

.main-menu-shirnk .nav-icon {
    position:relative;
    display:table-cell;
    width:100px;
    /*height:36px;*/
    text-align:center;
    vertical-align:middle;
    font-size:18px;
}

.main-menu-shirnk .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu-shirnk>ul.logout {
    position:absolute;
    left:0;
    bottom:0;
}

.no-touch .scrollable.hover {
    overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
}

a:hover,a:focus {
    text-decoration:none;
}

nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

nav ul,nav li {
    outline:0;
    margin-top:0;
    padding:0;
}
.main-menu-shirnk li:hover>a,nav.main-menu-shirnk li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color:#fff;
    /*background-color:#5fa2db;*/
    background: rgb(0 47 118);
}
.area {
    float: left;
    /*background: #e2e2e2;*/
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(https://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.side-logo{
    background-color: white;
    padding: 15px 5px;
}

.intro {
    font-size: 150%;
    color: red;
}
body{
    height: 700px;
    background-image: linear-gradient(white, #0a1e3c21);
    background-color: #f5f6fa;
}

.dropdown .fa-circle{
    color: #002f76;
}


.app-logo{
    float: right;
    background: white;
    padding: 15px 25px;
}