@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
/*Theme Colors*/
/*bootstrap Color*/
/*Normal Color*/
/*Border radius*/
/*Preloader*/
.preloader {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  z-index: 99999;
  background: #fff;
}
.preloader .cssload-speeding-wheel {
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
}
/* This is for popins font for firefox */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v1/2fCJtbhSlhNNa6S2xlh9GyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* This is for popins font for firefox */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v1/UGh2YG8gx86rRGiAZYIbVyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* This is for popins font for firefox */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v1/yQWaOD4iNU5NTY0apN-qj_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/*Just change your choise color here its theme Colors*/
body {
  background: #fff;
}
/*Top Header Part*/
.logo i {
  color: #ffffff;
}
.top-left-part .light-logo {
  display: inline-block;
}
.top-left-part .dark-logo {
  display: none;
}
.navbar-header {
  background: transparent;
  /* box-shadow: 0 0.313rem 0.75rem rgba(7,9,25,.05), 0 0.126rem 0.15rem rgba(7,9,25,.03); */
  width: 95%;
  /* left: 81px !important; */
  border-radius: 40px 40px 0px 0px;
  margin-top: 10px;
  padding: 0 25px; height:62px;
}
.navbar-top-links > li > a {
  color: #002f76;
}
/*
.notify .heartbit{
    border-color:@white;
}
.notify .point{
  background-color:@danger;
}*/
/*Right panel*/
.right-sidebar .rpanel-title {
  background: #002f76;
}
/*Bread Crumb*/
.bg-title .breadcrumb .active {
  color: #002f76;
}
/*Sidebar*/
.sidebar {
  background: #fff;
  -webkit-transition:overflow .1s linear;
  transition:overflow .1s linear;
 /* box-shadow: 0 0.313rem 0.75rem rgba(7,9,25,.05), 0 0.126rem 0.15rem rgba(7,9,25,.03);*/
}
.sidebar .label-custom {
  background: #01c0c8;
}
#side-menu li a {
  color: #002f76;
}
.mouse-on #side-menu li a span.hide-menu{
  padding-left: 14px;
}
#side-menu > li:not(.user-pro) > a {
  color: #002f76;
}
#side-menu > li > a:hover,
#side-menu > li > a:focus {
  background: #002f76;
  color: #ffffff
}
#side-menu>li>a.active span{
  color: #ffffff !important;
}
#side-menu > li > a.active {
  color: #ffffff;
  font-weight: 500;
  background-color: #002f76;
}
#side-menu > li > a.active i {
  color: #ffffff;
}
#side-menu ul > li > a:hover {
  color: #ffffff;
}
#side-menu ul > li > a.active {
  color: #ffffff;
  font-weight: 500;
  background: #002f76;
}
.sidebar #side-menu .user-pro .nav-second-level a:hover {
  color: #ffffff;
}
/*themecolor*/
.bg-theme {
  background-color: #002f76 !important;
}
.bg-theme-dark {
  background-color: #01c0c8 !important;
}
/*Chat widget*/
.chat-list .odd .chat-text {
  background: #002f76;
}
/*Button*/
.btn-custom {
  background: #002f76;
  border: 1px solid #002f76;
  color: #ffffff;
}
.btn-custom:hover {
  background: #002f76;
  opacity: 0.8;
  color: #ffffff;
  border: 1px solid #002f76;
}
/*Custom tab*/
.customtab li.active a,
.customtab li.active a:hover,
.customtab li.active a:focus {
  border-bottom: 2px solid #002f76;
  color: #002f76;
}
.tabs-vertical li.active a,
.tabs-vertical li.active a:hover,
.tabs-vertical li.active a:focus {
  background: #002f76;
  border-right: 2px solid #002f76;
}
/*Nav-pills*/
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background: #002f76;
  color: #ffffff;
}
